#urls {
	width: 100%;
    margin-bottom: 10px;
}

.space {
	background-color : pink;
}

.warnings {
    color: #ED7800;

}

.errors {
    color: #FF0023;
}

#parameter-lists ul {
    list-style: none;
    padding-left: 0;
}

#url-input-form textarea {
    font-size: 10px;
}

#parameter-lists h4 {
    border-bottom: 1px solid #ccc;
}

#output {
    display: none;
}