#urls {
	width: 100%;
    margin-bottom: 10px;
}

.space {
	background-color : pink;
}

.warnings {
    color: #ED7800;

}

.errors {
    color: #FF0023;
}

#value-lists ul {
    list-style: none;
    padding-left: 0;
}

#url-input-form textarea {
    font-size: 10px;
}

#value-lists h4 {
    border-bottom: 1px solid #ccc;
}

#output {
    display: none;
}

body {
    font-size: 13px;
}

h2 {
    color: #34AA12;
}

#setup-container {
    margin-top: 15px;
}